{% extends base_template %}
{% block title %}INFONE Home{% endblock %}
{% block content %}
<h2>Question {{question.id}}</h2> 
<p><b>Text</b>: {{question.text}}</p>

<h3>Responses | <b><a href="/infone/questions/{{question.id}}.csv">Download to Excel</a></b></h3>
<table width="100%">
  <thead>
    <tr>
      <th>Respondent</th>
      <th>Response</th>
      <th>Received At</th>
    </tr>
  </thead>
  <tbody>
    

  {% for response in responses %}
    <tr>
      <td>
        {{response.respondent.phone_number}}
      </td>
      <td>
        {{response.text}}
      </td>
      <td>
        {{response.created_at}}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}